@model IEnumerable<WebQLKS.Models.tbl_DichVuDaDat>

@{
    ViewBag.Title = "historyService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>historyService</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgaySuDungDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_DichVu.TenDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_TrangThaiDichVu.TenTrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_HoaDon.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_KhachHang.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_NhanVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySuDungDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_DichVu.TenDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_TrangThaiDichVu.TenTrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_HoaDon.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_NhanVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Hủy dịch vụ", "HuyDichVu", new { maDV=item.MaDV })
        </td>
    </tr>
}

</table>
