@model WebQLKS.Models.tbl_NhanVien

@{
    ViewBag.Title = "TrangNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    <meta charset="utf-8" />
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .profile-container {
        width: 50%;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-top: 50px;
        border-radius: 10px;
    }

    .profile-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .profile-details p {
        margin: 10px 0;
    }

    .profile-details strong {
        display: inline-block;
        width: 150px;
    }

    .picture {
        margin: auto;
    }
</style>
<h2 style="text-align:center">Thông tin nhân viên</h2>
<div>
    <div>
        <div class="profile-container">
            <div class="profile-header">
                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="Profile Picture" class="profile-pic">
                <h1> @Html.DisplayFor(model => model.HoTen)</h1>
            </div>
            <div class="profile-details">
                <p><strong style="width:200px">Mã nhân viên:</strong>@Html.DisplayFor(Model => Model.MaNV)</p>
                <p><strong style="width:200px">Tài khoản người dùng:</strong>@Html.DisplayFor(Model => Model.TaiKhoan)</p>
                <p><strong style="width:200px">Mật khẩu người dùng:</strong>@Html.DisplayFor(Model => Model.MatKhau)</p>
                <p><strong style="width:200px">Email:</strong>@Html.DisplayFor(Model => Model.Email)</p>
                <p><strong style="width:200px">Ngày sinh:</strong>@Html.DisplayFor(Model => Model.NgaySinh)</p>
                <p><strong style="width:200px">Chức vụ:</strong>@Html.DisplayFor(Model => Model.tbl_ChucVu.TenChucVu)</p>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa thông tin nhân viên", "EditNV", new { maNV = Model.MaNV }) |
</p>
