@model WebQLKS.Models.tbl_NhanVien

@{
    ViewBag.Title = "LoginAcountNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <meta charset="UTF-8">
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<h2>ĐĂNG NHẬP</h2>

@Html.AntiForgeryToken()
<table>
    <tr>
        <td>@Html.LabelFor(Model => Model.TaiKhoan)</td>
        <td>@Html.TextBoxFor(Model => Model.TaiKhoan, new { style = "field-validation-error" })</td>
        <td>@Html.ValidationMessageFor(Model => Model.TaiKhoan)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(Model => Model.MatKhau)</td>
        <td>@Html.EditorFor(Model => Model.MatKhau)</td>
        <td>@Html.ValidationMessageFor(Model => Model.MatKhau)</td>
        @if (ViewBag.ErroInfo == null)
        {
            <template>
                @ViewBag.ErroInfo
            </template>
        }
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Login" /></td>
    </tr>
</table>