@model IEnumerable<WebQLKS.Models.tbl_DichVu>

@{
    ViewBag.Title = "chiTietLoaiDV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container w-75 card mt-3">
    <h2 class="text-center">Danh sách dịch vụ</h2>
    <table class="table">
        <tr>
            <th>
                Tên dịch vụ
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên loại dịch vụ
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td style="width:10%">
                    @{
                        if (item.img == null)
                        {
                            <img style="width:100%;object-fit:cover" src="~/Content/Home/Image/empty.jpg" loading="lazy" />
                        }
                        else
                        {
                            <img style="width:100%;object-fit:cover" src="~/Content/Home/Image/empty.jpg" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_LoaiDichVu.TenLoaiDV)
                </td>
                <td>
                    @Html.ActionLink("Xem chi tiết", "detailService", new { maDV = item.MaDV })
                </td>
            </tr>
        }

    </table>
</div>
