@model IEnumerable<WebQLKS.Models.tbl_DichVu>

@{
    ViewBag.Title = "chiTietLoaiDV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>chiTietLoaiDV</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LoaiDichVu.TenLoaiDV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_LoaiDichVu.TenLoaiDV)
            </td>
            <td>
                @Html.ActionLink("Xem chi tiết", "detailService", new { maDV = item.MaDV })
            </td>
        </tr>
    }

</table>
