@model WebQLKS.Models.tbl_DichVu

@{
    ViewBag.Title = "detailService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-detail {
        border: 5px solid white;
        display: grid;
        place-items: center; /* Căn giữa theo cả chiều ngang và chiều dọc */
        height: 10%;
        width: 100%;
    }
    .color-button{
        color:dodgerblue;
    }
</style>
<div class="container card w-50 text-center">
    <h2 style="text-align:center">Thông tin cụ thể</h2>

    <div class="form-detail  ">
        <hr />
        @using (Html.BeginForm("orderService", "Service", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <dl class="dl-horizontal">
                <dd style="width:50%;margin-left:25%">
                    <img style="width:100%;object-fit:cover" src="~/Content/Home/Image/empty.jpg" />
                </dd>
                <dt>
                    Tên dịch vụ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenDV)
                </dd>

                <dt>
                    Đơn giá dịch vụ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DonGia)
                </dd>

                <dt>
                    Mô tả dịch vụ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MoTa)
                </dd>

                <dt>
                    Tên loại dịch vụ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbl_LoaiDichVu.TenLoaiDV)
                </dd>

            </dl>
            <input type="hidden" id="maDV" name="maDV" value="@Model.MaDV" />
            <input type="submit" value="Đặt Dịch Vụ" />
        }
    </div>
</div>