@model WebQLKS.Models.tbl_DichVu

@{
    ViewBag.Title = "detailService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>detailService</h2>

<div>
    <h4>tbl_DichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_LoaiDichVu.TenLoaiDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_LoaiDichVu.TenLoaiDV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
