@model IEnumerable<WebQLKS.Models.tbl_PhieuThuePhong>

@{
    ViewBag.Title = "Danh Sách Phiếu Thuê Phòng";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container text-center card w-75" style="margin-top:5%">
    <h2>Danh Sách Phiếu Thuê Phòng</h2>

    <table class="table">
        <tr>
            <th>
                Check-in
            </th>
            <th style="width:10%">
                Số Lượng Khách
            </th>
            <th style="width:10%">
                Số Lượng Khách Nước Ngoài
            </th>
            <th>
                Check-out
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Mã Phòng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBatDauThue, new { @type = "date" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLKhach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLKhachNuocNgoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKetThucThue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_KhachHang.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhong)
                </td>
                @{
                    if (item.TrangThai == "Chưa xác nhận")
                    {
                        <td class="d-flex" style="width:15%">
                            @Html.ActionLink("Xác nhận", "XacNhanPhieuThue", new { maPhieuThue = item.MaPhieuThuePhong }, new { @class = "btn btn-success" })|
                            @Html.ActionLink("Xem", "ChiTietPhieuThue", new { maPhieuThue = item.MaPhieuThuePhong }, new { @class = "btn btn-primary" })|
                            @Html.ActionLink("Xóa", "XoaPhieuThue", new { maPhieuThue = item.MaPhieuThuePhong }, new { @class = "btn btn-danger" })
                        </td>
                    }
                    else
                    {
                        <td class="d-flex" style="width:15%">
                            <input class="btn btn-success" type="button" value="Xác nhận" disabled>|
                            @Html.ActionLink("Xem", "ChiTietPhieuThue", new { maPhieuThue = item.MaPhieuThuePhong }, new { @class = "btn btn-primary" })|
                            @Html.ActionLink("Xóa", "XoaPhieuThue", new { maPhieuThue = item.MaPhieuThuePhong }, new { @class = "btn btn-danger" })
                        </td>
                    }
                }

            </tr>
        }

    </table>
</div>
