<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -QLKS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Home.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/331feb0958.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <header class="index-header">
            <div class="location">
                <p>816 Sư Vạn Hạnh P14 Q10 TPHCM </p>
                <p>liên hệ chúng tôi : 0933838277</p>
            </div>
            <div class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top" id="navbar-1">

                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><b>MODERN</b> <br /> BESTHOTEL </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav me-5 mb-0 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Trang Chủ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active" href="@Url.Action("Index","Service")" role="button" aria-expanded="true">Dịch Vụ </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("CategoryRoom","Room")">Phòng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">QUẦYBAR VÀ ĂNTỐI </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">TIỆN NGHI </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">BLOG </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Liên Hệ</a>
                            </li>
                        </ul>
                        <div class="nav-item dropdown d-flex align-content-end">
                            @{
                                if (Session["KH"] != null)
                                {
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tài Khoản
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>@Html.ActionLink("Lịch sử dịch vụ", "historyService", "Account", null, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("Phiếu đặt phòng", "historyOrdRoom", "Account", null, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("Sửa thông tin", "UserInfor", "Account", null, new { @class = "dropdown-item" })</li>
                                        <li><a class="dropdown-item" onclick="return confirm('Bạn có thực sự muốn đăng xuất ?');" href="@Url.Action("Logout", "Account")">Logout</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Khách hàng
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>@Html.ActionLink("Login", "LoginAcountKH", "LoginAcount", null, new { @class = "dropdown-item" })</li>
                                        <li>@Html.ActionLink("Register", "RegisterKH", "LoginAcount", null, new { @class = "dropdown-item" })</li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="container-fluid body-content content">
            @RenderBody()
            <hr />
        </main>
        <div class="container-fluid footer bg-dark" style="color:white">
            <footer class="py-2">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5><b>MODERN</b> <br />BEST HOTEL</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Mặc dù Khách sạn Hiện đại không phải là khách sạn lâu đời nhất cũng không phải là khách sạn lớn nhất ở Việt Nam hay nampolies</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Nhưng  chúng tôi đã có lịch sử lâu dài của riêng mình trong việc duy trì mức chuẩn</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Chất lượng. Lợi thế lớn nhất của chúng tôi so với các khách sạn khác trong thành phố là sự cân bằng</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">tiếp cận. Chỉ với 35 phòng, chúng tôi là một nơi yên tĩnh để lưu trú.</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Bài Viết Gần Đây</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">.Bởi Calvin Fitzgerland- ngày 12 tháng 1 : 3 bình luận</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Hướng dẫn những địa điểm ăn tối tuyệt vời trong thành phố</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">bởi Calvin Fitzgerland- ngày 12 tháng 1 : 3 bình luận</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Hướng dẫn du lịch những địa điểm tuyệt vời khi đến thành phố</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Liên hệ</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">816 sư vạn hành phường 14 quận 10,thành phố HCM,Việt Nam</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">số điện thoại liên lạc: 09338380684</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Nhom03@gmail.com</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3 pt-3">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between border-top">
                    <p style="text-align:center">© 2024 Huflit, Inc. All rights reserved.Điều khoản và dịch vụ</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                    </ul>
                </div>
            </footer>
        </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
